/* styling article content */
.product {
  border: 4px solid #000;
  line-height: 1.5;
  font-family: sans-serif;
}
/* styling product title */
.product-title {
  text-align: center;
  text-transform: uppercase;
  background-color: #f7f7f7;
  font-size: 22px;
}
/* styling the product price*/
.product-price {
  font-size: 30px;
}
